
Swift/AWSKinesisVideoWebRTCDemoApp.xcworkspace/xcuserdata/Ramil.xcuserdatad/UserInterfaceState.xcuserstate
Swift/AWSKinesisVideoWebRTCDemoApp.xcodeproj/xcuserdata/Ramil.xcuserdatad/xcschemes/xcschememanagement.plist
Swift/AWSKinesisVideoWebRTCDemoApp.xcworkspace/xcuserdata/Ramil.xcuserdatad/UserInterfaceState.xcuserstate
Swift/KVSiOSApp/Assets.xcassets/AppIcon.appiconset/Contents.json
Swift/KVSiOSApp/Assets.xcassets/AppIcon.appiconset/Contents.json
